/*GENERAL STYLES*/
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}
a {
  color: #000;
  opacity: .85;
  text-decoration: none;
}
.heading {
  float: right;
}
/*TOP LINK STYLES*/
.links {
  padding: 9px 8px 0 8px;
  display: inline-block;
  vertical-align: middle;
}

/*ICON STYLES*/
.icon {
  opacity: .55;
  vertical-align: middle;
  display: inline-block;
  margin: 9px 8px 0 8px;
}

.apps {
  height: 24px;
  width: 24px;

  background-image: url('http://www.englewoodschools.net/cms/lib8/CO01900647/Centricity/Domain/1009/GoogleAppsIcon.png');
  background-size: 100% 100%;
}
.notification {
  height: 19px;
  width: 19px;

  background-color: #000;
  border-radius: 100%;
  background-image: url("assets/bell-512.png");
  background-size: 52% 52%;
  background-repeat: no-repeat;
  background-position: center;
}
.alex {
  height: 32px;
  width: 32px;
  margin-right: 15px;

  color: white;
  opacity: 1;
  font-size: 16px;
  text-align: center;
  line-height: 32px;

  background-color: #609;
  border-radius: 100%;
}
